  {%- if page.video -%}
  <header>
      <section class="relative h-screen flex flex-col items-center justify-center text-center text-white py-0 px-3">
        <div class="video-docker absolute top-0 left-0 w-full h-full overflow-hidden">
          <video class="min-w-full min-h-full absolute object-cover" src="{{ page.video.path }}" type="video/mp4"
            autoplay muted loop></video>
        </div>
        <div class="video-content space-y-2">
          <h1 class="font-light text-6xl">{{ page.video.desc }}</h1>
          <h3 class="font-light text-3xl">{{ page.video.caption }}</h3>
        </div>
      </section>
  </header>
  {%- else -%}
  <header class="flex flex-col md:flex-row mr-auto w-full p-8 mb-4">
    {% include nav.html %}
  </header>
  {%- endif -%}


