<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  
  {% include favicons.html %}
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Podkova&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;500&family=Overpass:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Source+Sans+Pro&family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&family=Spectral:wght@400;500&family=Vollkorn:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400&family=Source+Serif+4:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">

  
  {% if page.layout == 'page' or page.layout == 'post' %}
  <!-- Manific Popup -->
  <link rel="stylesheet" href="{{ "/assets/lib/magnific-popup/magnific-popup.css" | relative_url }}">
  <script src="{{ "/assets/lib/magnific-popup/jquery.magnific-popup.min.js" | relative_url }}"></script>
  {% endif %}
 

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">


</head>
