<div class="grid grid-rows-4 grid-flow-col gap-4">
  <div class="p-8 col-span-1">
    <a href="{{ site.url | relative_url}}">home</a>
    <a href="{{ site.url }}/about">about</a>
  </div>
  <div class="p-8 col-span-1">
    <a href="{{ site.url | relative_url}}">home</a>
    <a href="{{ site.url }}/about">about</a>
  </div>
  <div class="p-8 col-span-1">
    <a href="{{ site.url | relative_url}}">home</a>
    <a href="{{ site.url }}/about">about</a>
  </div>
  <div class="p-8 col-span-1">
    <a href="{{ site.url | relative_url}}">home</a>
    <a href="{{ site.url }}/about">about</a>
  </div>

</div>