---
---
@import url('molokai.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: antiquewhite;

  /* Base font size */
  font-size: 1rem;

  /* Full grid area variable */
  --fullGrid: 1 / 1 / -1 / -1;
}

article div.highlight {
  @apply p-4 text-lg rounded-lg shadow-inner;
  @apply my-8 mr-20 ml-6;
}

article code.language-plaintext {
  @apply bg-slate-600 text-slate-200 text-lg px-1 rounded font-light
          select-all inline-block leading-normal m-0 align-text-bottom;
}

article code.language-shell {
  @apply bg-slate-950 text-amber-400 text-lg px-1 rounded font-light
          select-all inline-block leading-normal m-6 align-text-bottom;
}

.highlight {
  @apply bg-wheat rounded-xl;
  margin-top: 2em;
  margin-bottom: 2em;
  color: black;
}

.collapse {
  @apply rounded;
}

.chat-bubble {
  padding: 1.5rem;
  margin: 1em;
  max-width: 80%;
  font-family: monospace;
  font-size: larger;
}

ul {
  margin: 1rem;
  text-align: left;
  align-self: center;
}

li {
  margin: 1rem;
  text-indent: -42px;
  &::before {
    content: '*';
    margin: 0 0.75rem;
    opacity: 0.8;
  }
}

article a {
  color: #ff6347;
}

body hr {
  margin-top: 1em;
  margin-bottom: 4em;
  padding: 0.01rem;
}

img {
  mix-blend-mode: difference;
}

pre {
  white-space: pre-wrap;
}

article blockquote {
  font-family: 'Spectral', serif;
  font-size: large;
  margin-top: 3em;
  margin-bottom: 3em;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 0em;
  padding-left: 4rem;
  padding-right: 2rem;
}

article h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

article h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05rem;
}

article h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article h4 {
  font-size: 1.25rem;
  font-family: 'IBM Plex Mono', monospace;
  color: saddlebrown;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article p {
  margin-top: 0rem;
  margin-bottom: 1rem;
  /* line-height: 1.8rem; */
  font-size: 1.7rem;
  font-family: 'Source Serif 4', serif;
}

header {
  /* Create grid spanning viewport width & height */
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
  /* box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5); */
}

main {
  padding: 5em 2em;
  max-width: 94em;
  margin: 0 auto;
}

.video-bg {
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Re-size video to cover full screen while maintaining aspect ratio */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  /* Display video below overlay */
  z-index: -1;
}

.video-bg::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Center Content */
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;

  /* Semi-transparent background */
  background-color: rgba(0, 0, 0, 0.55);
}