/* 
$font-family-other: 'Vollkorn', serif, !default;
$font-family-base: 'Source Code Pro', 'Noto Sans Mono', sans-serif;
$font-family-other-special: 'Special Elite', monospace;
$font-family-other-spectral: 'Spectral', serif, !default;
$font-family-heading: Lato, 'Overpass', sans-serif;
$base-font-family-alt: 'Spectral', serif, !default;
$base-font-family-mono: 'Space Mono', monospace, !default;
$base-font-family-mono-alt: 'IBM Plex Mono', monospace;
$base-font-family-serif: 'Source Serif 4', serif; */
