---
layout: "default"
---

<main>
  <div class="p-4 max-w-7xl mx-auto">
    <article id="post" class="">

      <div class="grid grid-cols-2 grid-flow-col gap-4">

        <div class="p-4 col-span-8">
          <h1 class="text-4xl text-slate-950">{{ page.title }}</h1>
            <h4>{{ page.date | date: "%Y %b %d"  }}</h4>
        </div>

      </div>
      
      <hr class="h-0 bg-gray-900 border-0 dark:bg-gray-700">

      <div class="container my-3 px-4 break-words tracking-wide text-slate-900">
        {{ content }}
      </div>


    </article>


  </div>

</main>

{% include footer.html %}